<form id="confirm" action="./posting.php?mode=delete&amp;f={{f}}&amp;p={{p}}&amp;confirm_key={{confirm_key}}" method="post">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h2>Delete post</h2>
	<p>Are you sure you want to delete this post?</p>

	<fieldset class="submit-buttons">
		<input type="hidden" name="p" value="{{p}}" />
<input type="hidden" name="f" value="{{f}}" />
<input type="hidden" name="mode" value="delete" />
<input type="hidden" name="confirm_uid" value="{{uid}}" />
<input type="hidden" name="sess" value="{{sid}}" />
<input type="hidden" name="sid" value="{{sid}}" />

		<input type="submit" name="confirm" value="Yes" class="button2" />&nbsp;
		<input type="submit" name="cancel" value="No" class="button2" />
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
</form>
