<div class="panel" id="message">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h2>Information</h2>
	<p>This message has been deleted successfully.<br /><br /><a href="./viewtopic.php?f={{f}}&amp;t={{t}}&amp;p=5558888#p5558888">Return to the topic last visited</a><br /><br /><a href="./viewforum.php?f={{f}}">Return to the forum last visited</a></p>

	<span class="corners-bottom"><span></span></span></div>
</div>
