<form id="postform" method="post" action="./posting.php?mode=edit&amp;f={{f}}&amp;t={{t}}&amp;p={{p}}" enctype="multipart/form-data">



<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<h3>Edit post</h3>

	<script type="text/javascript">
// <![CDATA[
	onload_functions.push('apply_onkeypress_event()');
// ]]>
</script>

<fieldset class="fields1">
	
	<dl style="clear: left;">
		<dt><label for="subject">Subject:</label></dt>
		<dd><input type="text" name="subject" id="subject" size="45" maxlength="64" tabindex="2" value="I died but I'm doing well." class="inputbox autowidth" /></dd>
	</dl>
	<script type="text/javascript">
// <![CDATA[
	var form_name = 'postform';
	var text_name = 'message';
	var load_draft = false;
	var upload = false;

	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]', '[bibliography]', '[/bibliography]', '[center]', '[/center]', '[cite]', '[/cite]', '[imath]', '[/imath]', '[math]', '[/math]', '[right]', '[/right]', '[s]', '[/s]', '[spoiler]', '[/spoiler]', '[sub]', '[/sub]', '[sup]', '[/sup]');
	var imageTag = false;

	// Helpline messages
	var help_line = {
		b: 'Bold text: [b]text[/b]',
		i: 'Italic text: [i]text[/i]',
		u: 'Underline text: [u]text[/u]',
		q: 'Quote text: [quote]text[/quote]',
		c: 'Code display: [code]code[/code]',
		l: 'List: [list]text[/list]',
		o: 'Ordered list: [list=]text[/list]',
		p: 'Insert image: [img]http://image_url[/img]',
		w: 'Insert URL: [url]http://url[/url] or [url=http://url]URL text[/url]',
		a: 'Inline uploaded attachment: [attachment=]filename.ext[/attachment]',
		s: 'Font colour: [color=red]text[/color]  Tip: you can also use color=#FF0000',
		f: 'Font size: [size=85]small text[/size]',
		y: 'List: Add list element',
		d: 'Flash: [flash=width,height]http://url[/flash]'
		
			,cb_22: ''
		
			,cb_24: ''
		
			,cb_26: ''
		
			,cb_28: 'Inserts an inline block of TeX math.'
		
			,cb_30: 'Adds a block of TeX math (not inline)'
		
			,cb_32: ''
		
			,cb_34: 'strike through'
		
			,cb_36: 'hides spoilers'
		
			,cb_38: 'subscript'
		
			,cb_40: 'superscript'
		
	}

	var panels = new Array('options-panel', 'attach-panel', 'poll-panel');
	var show_panel = 'options-panel';


// ]]>
</script>
<script type="text/javascript" src="./styles/prosilver/template/editor.js"></script>


<div id="colour_palette" style="display: none;">
	<dl style="clear: left;">
		<dt><label>Font colour:</label></dt>
		<dd>
		<script type="text/javascript">
		// <![CDATA[
			function change_palette()
			{
				dE('colour_palette');
				e = document.getElementById('colour_palette');
				
				if (e.style.display == 'block')
				{
					document.getElementById('bbpalette').value = 'Hide font colour';
				}
				else
				{
					document.getElementById('bbpalette').value = 'Font colour';
				}
			}

			colorPalette('h', 15, 10);
		// ]]>
		</script>
		</dd>
	</dl>
</div>

<div id="format-buttons">
	<input type="button" class="button2" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px" onclick="bbstyle(0)" title="Bold text: [b]text[/b]" />
	<input type="button" class="button2" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px" onclick="bbstyle(2)" title="Italic text: [i]text[/i]" />
	<input type="button" class="button2" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px" onclick="bbstyle(4)" title="Underline text: [u]text[/u]" />
	
		<input type="button" class="button2" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onclick="bbstyle(6)" title="Quote text: [quote]text[/quote]" />
	
	<input type="button" class="button2" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onclick="bbstyle(8)" title="Code display: [code]code[/code]" />
	<input type="button" class="button2" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onclick="bbstyle(10)" title="List: [list]text[/list]" />
	<input type="button" class="button2" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onclick="bbstyle(12)" title="Ordered list: [list=]text[/list]" />
	<input type="button" class="button2" accesskey="y" name="addlistitem" value="[*]" style="width: 40px" onclick="bbstyle(-1)" title="List item: [*]text[/*]" />
	
		<input type="button" class="button2" accesskey="p" name="addbbcode14" value="Img" style="width: 40px" onclick="bbstyle(14)" title="Insert image: [img]http://image_url[/img]" />
	
		<input type="button" class="button2" accesskey="w" name="addbbcode16" value="URL" style="text-decoration: underline; width: 40px" onclick="bbstyle(16)" title="Insert URL: [url]http://url[/url] or [url=http://url]URL text[/url]" />
	
	<select name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" title="Font size: [size=85]small text[/size]">
		<option value="50">Tiny</option>
		<option value="85">Small</option>
		<option value="100" selected="selected">Normal</option>
		
			<option value="150">Large</option>
			
				<option value="200">Huge</option>
			
	</select>
	<input type="button" class="button2" name="bbpalette" id="bbpalette" value="Font colour" onclick="change_palette();" title="Font colour: [color=red]text[/color]  Tip: you can also use color=#FF0000" />
	
		<input type="button" class="button2" name="addbbcode22" value="bibliography" onclick="bbstyle(22)" title="" />
	
		<input type="button" class="button2" name="addbbcode24" value="center" onclick="bbstyle(24)" title="" />
	
		<input type="button" class="button2" name="addbbcode26" value="cite" onclick="bbstyle(26)" title="" />
	
		<input type="button" class="button2" name="addbbcode28" value="imath" onclick="bbstyle(28)" title="Inserts an inline block of TeX math." />
	
		<input type="button" class="button2" name="addbbcode30" value="math" onclick="bbstyle(30)" title="Adds a block of TeX math (not inline)" />
	
		<input type="button" class="button2" name="addbbcode32" value="right" onclick="bbstyle(32)" title="" />
	
		<input type="button" class="button2" name="addbbcode34" value="s" onclick="bbstyle(34)" title="strike through" />
	
		<input type="button" class="button2" name="addbbcode36" value="spoiler" onclick="bbstyle(36)" title="hides spoilers" />
	
		<input type="button" class="button2" name="addbbcode38" value="sub" onclick="bbstyle(38)" title="subscript" />
	
		<input type="button" class="button2" name="addbbcode40" value="sup" onclick="bbstyle(40)" title="superscript" />
	
</div>


	<div id="smiley-box">
		
			<strong>Smilies</strong><br />
			
				<a href="#" onclick="insert_text(':D', true); return false;"><img src="./images/smilies/icon_biggrin.gif" width="15" height="15" alt=":D" title="Very Happy" /></a>
			
				<a href="#" onclick="insert_text(':)', true); return false;"><img src="./images/smilies/icon_smile.gif" width="15" height="15" alt=":)" title="Smile" /></a>
			
				<a href="#" onclick="insert_text(':(', true); return false;"><img src="./images/smilies/icon_sad.gif" width="15" height="15" alt=":(" title="Sad" /></a>
			
				<a href="#" onclick="insert_text(':o', true); return false;"><img src="./images/smilies/icon_surprised.gif" width="15" height="15" alt=":o" title="Surprised" /></a>
			
				<a href="#" onclick="insert_text(':shock:', true); return false;"><img src="./images/smilies/icon_eek.gif" width="15" height="15" alt=":shock:" title="Shocked" /></a>
			
				<a href="#" onclick="insert_text(':?', true); return false;"><img src="./images/smilies/icon_confused.gif" width="15" height="15" alt=":?" title="Confused" /></a>
			
				<a href="#" onclick="insert_text('8-)', true); return false;"><img src="./images/smilies/icon_cool.gif" width="15" height="15" alt="8-)" title="Cool" /></a>
			
				<a href="#" onclick="insert_text(':lol:', true); return false;"><img src="./images/smilies/icon_lol.gif" width="15" height="15" alt=":lol:" title="Laughing" /></a>
			
				<a href="#" onclick="insert_text(':x', true); return false;"><img src="./images/smilies/icon_mad.gif" width="15" height="15" alt=":x" title="Mad" /></a>
			
				<a href="#" onclick="insert_text(':P', true); return false;"><img src="./images/smilies/icon_razz.gif" width="15" height="15" alt=":P" title="Razz" /></a>
			
				<a href="#" onclick="insert_text(':oops:', true); return false;"><img src="./images/smilies/icon_redface.gif" width="15" height="15" alt=":oops:" title="Embarassed" /></a>
			
				<a href="#" onclick="insert_text(':cry:', true); return false;"><img src="./images/smilies/icon_cry.gif" width="15" height="15" alt=":cry:" title="Crying or Very sad" /></a>
			
				<a href="#" onclick="insert_text(':evil:', true); return false;"><img src="./images/smilies/icon_evil.gif" width="15" height="15" alt=":evil:" title="Evil or Very Mad" /></a>
			
				<a href="#" onclick="insert_text(':twisted:', true); return false;"><img src="./images/smilies/icon_twisted.gif" width="15" height="15" alt=":twisted:" title="Twisted Evil" /></a>
			
				<a href="#" onclick="insert_text(':roll:', true); return false;"><img src="./images/smilies/icon_rolleyes.gif" width="15" height="15" alt=":roll:" title="Rolling Eyes" /></a>
			
				<a href="#" onclick="insert_text(':wink:', true); return false;"><img src="./images/smilies/icon_wink.gif" width="15" height="15" alt=":wink:" title="Wink" /></a>
			
				<a href="#" onclick="insert_text(':!:', true); return false;"><img src="./images/smilies/icon_exclaim.gif" width="15" height="15" alt=":!:" title="Exclamation" /></a>
			
				<a href="#" onclick="insert_text(':?:', true); return false;"><img src="./images/smilies/icon_question.gif" width="15" height="15" alt=":?:" title="Question" /></a>
			
				<a href="#" onclick="insert_text(':idea:', true); return false;"><img src="./images/smilies/icon_idea.gif" width="15" height="15" alt=":idea:" title="Idea" /></a>
			
				<a href="#" onclick="insert_text(':arrow:', true); return false;"><img src="./images/smilies/icon_arrow.gif" width="15" height="15" alt=":arrow:" title="Arrow" /></a>
			
				<a href="#" onclick="insert_text(':|', true); return false;"><img src="./images/smilies/icon_neutral.gif" width="15" height="15" alt=":|" title="Neutral" /></a>
			
				<a href="#" onclick="insert_text(':mrgreen:', true); return false;"><img src="./images/smilies/icon_mrgreen.gif" width="15" height="15" alt=":mrgreen:" title="Mr. Green" /></a>
			<hr />
		<a href="./faq.php?mode=bbcode">BBCode</a> is <em>ON</em><br />
		
			[img] is <em>ON</em><br />
			[flash] is <em>OFF</em><br />
			[url] is <em>ON</em><br />
		
		Smilies are <em>ON</em>
		
	</div>

	<div id="message-box">
		<textarea name="message" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">I lost [color=#0f52ba]safira[/color]!
I lost [color=#0f52ba]safira[/color]!
But I haz a copy!

It's not the same, though.
That one had tests.
Test material, at least.

I have the code.
I was lucky yesterday.
I synced the [url=https&#58;//gitlab&#46;com/AluisioASG/safira/commits/testing]testing stuff[/url].

There were other things in the drive as well.
And I don't feel like collecting Cruzer Blades anymore.
But it doesn't matter.  It's not a big deal.

There will be updates soon.
She'll hand you the ID of your post/message/reply/whatever.
Also some renaming of the config entries.
Then we'll be done.
I think.
For now.</textarea>
	</div>
</fieldset>


		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset class="submit-buttons">
			
			<input type="hidden" name="lastclick" value="{{lastclick}}" /><input type="hidden" name="edit_post_message_checksum" value="b8cc7e80fa70e7c02ce3b1285dd5cd3a" />
<input type="hidden" name="edit_post_subject_checksum" value="97f52b3ac874bc906f04415d39c1f522" />

			
			<input type="submit" tabindex="5" name="preview" value="Preview" class="button1" onclick="document.getElementById('postform').action += '#preview';" />&nbsp;
			<input type="submit" accesskey="s" tabindex="6" name="post" value="Submit" class="button1 default-submit-action" />&nbsp;

		</fieldset>

		<span class="corners-bottom"><span></span></span></div>
	</div>
	
		<div id="tabs">
			<ul>
				<li id="options-panel-tab" class="activetab"><a href="#tabs" onclick="subPanels('options-panel'); return false;"><span>Options</span></a></li>
				<li id="attach-panel-tab"><a href="#tabs" onclick="subPanels('attach-panel'); return false;"><span>Upload attachment</span></a></li>
			</ul>
		</div>
	
	<div class="panel bg3" id="options-panel">
		<div class="inner"><span class="corners-top"><span></span></span>

		<fieldset class="fields1">
			
				<div><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode" /> Disable BBCode</label></div>
			
				<div><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies" /> Disable smilies</label></div>
			
				<div><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url" /> Do not automatically parse URLs</label></div>
			
				<div><label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig" checked="checked" /> Attach a signature (signatures can be altered via the UCP)</label></div>
			
				<div><label for="notify"><input type="checkbox" name="notify" id="notify" /> Notify me when a reply is posted</label></div>
			
		</fieldset>
		
	<input type="hidden" name="creation_time" value="{{creation_time}}" />
<input type="hidden" name="form_token" value="{{form_token}}" />

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg3" id="attach-panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>If you wish to attach one or more files enter the details below.</p>
	
	<fieldset class="fields2">
	<dl>
		<dt><label for="fileupload">Filename:</label></dt>
		<dd>
			<input type="file" name="fileupload" id="fileupload" maxlength="10485760" value="" class="inputbox autowidth" /> 
			<input type="submit" name="add_file" value="Add the file" class="button2" onclick="upload = true;" />
		</dd>
	</dl>
	<dl>
		<dt><label for="filecomment">File comment:</label></dt>
		<dd><textarea name="filecomment" id="filecomment" rows="1" cols="40" class="inputbox autowidth"></textarea></dd>
	</dl>
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

</form>
