<div class="panel" id="message">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h2>Information</h2>
	<p>You have been successfully logged in.<br /><br /><a href="index.php?sid={{sid}}">Return to the index page</a></p>
	
	<span class="corners-bottom"><span></span></span></div>
</div>
