<form action="./ucp.php?mode=login" method="post" id="login">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<div class="content">
		<h2>Login</h2>

		<fieldset class="fields1">
		<div class="error">You have specified an incorrect password. Please check your password and try again. If you continue to have problems please contact the <a href="mailto:nobody@example.com">Board Administrator</a>.</div>
		<dl>
			<dt><label for="username">Username:</label></dt>
			<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="" class="inputbox autowidth" /></dd>
		</dl>
		<dl>
			<dt><label for="password">Password:</label></dt>
			<dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" /></dd>
			<dd><a href="./ucp.php?mode=sendpassword">I forgot my password</a></dd><dd><a href="./ucp.php?mode=resend_act">Resend activation e-mail</a></dd>
		</dl>
		
		<dl>
			<dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="4" /> Log me on automatically each visit</label></dd>
			<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="5" /> Hide my online status this session</label></dd>
		</dl>
		

		<input type="hidden" name="redirect" value="./ucp.php?mode=login" />

		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="hidden" name="sid" value="{{login.sid}}" />
<input type="hidden" name="redirect" value="index.php" />
<input type="submit" name="login" tabindex="6" value="Login" class="button1" /></dd>
		</dl>
		</fieldset>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>



	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="content">
			<h3>Register</h3>
			<p>In order to login you must be registered. Registering takes only a few moments but gives you increased capabilities. The board administrator may also grant additional permissions to registered users. Before you register please ensure you are familiar with our terms of use and related policies. Please ensure you read any forum rules as you navigate around the board.</p>
			<p><strong><a href="./ucp.php?mode=terms">Terms of use</a> | <a href="./ucp.php?mode=privacy">Privacy policy</a></strong></p>
			<hr class="dashed" />
			<p><a href="./ucp.php?mode=register" class="button2">Register</a></p>
		</div>

		<span class="corners-bottom"><span></span></span></div>
	</div>


</form>
