<div id="post-18102" class="post pm">
<div class="inner"><span class="corners-top"><span></span></span>

	<div class="postbody">

		
		<ul class="profile-icons">
			<li class="delete-icon"><a href="./ucp.php?i=pm&amp;mode=compose&amp;action=delete&amp;f=0&amp;p=18102" title="Delete message"><span>Delete message</span></a></li><li class="report-icon"><a href="./report.php?pm=18102" title="Report private message"><span>Report private message</span></a></li><li class="quote-icon"><a href="./ucp.php?i=pm&amp;mode=compose&amp;action=quote&amp;f=0&amp;p=18102" title="Quote message"><span>Quote message</span></a></li>
		</ul>
		

		<h3 class="first">Re: What were we talking about back then?</h3>

		<p class="author">
			<strong>Sent:</strong> Wednesday, September 24, 2014; 01:10
			<br /><strong>From:</strong> <a href="./memberlist.php?mode=viewprofile&amp;u=27">mrob27</a>
			<br /><strong>To:</strong> <a href="./memberlist.php?mode=viewprofile&amp;u=2387">AluisioASG</a>&nbsp;
		</p>


		<div class="content"><blockquote><div><cite>AluisioASG wrote:</cite>However, it's useless unless they get hold of your password as well.</div></blockquote><br />Oh, yes of course. I think I was hoping for triple protection <img src="./images/smilies/icon_mrgreen.gif" alt=":mrgreen:" title="Mr. Green" /><br /><br />I think the limit is about 128K. They add up to a lot if you count everyone who has ever posted. I haven't automatically downloaded them, but […] has. But I have manually collected almost 300 of them, and the biggest is 127888 bytes.</div>

		
			<div id="sig18102" class="signature"><div align="center"><span style="font-weight: bold">Robert Munafo</span> — <a href="http://mrob.com" class="postlink">http://mrob.com</a> — <span style="font-weight: bold">@mrob_27</span><br /><span style="font-size: 75%; line-height: 116%;">I ᴍᴀᴅᴇ sᴏɍᴛᴡᴀʀᴇ ᴛʜᴀᴛ ʀᴀɴᴅᴀʟʟ ᴍᴜɴʀᴏᴇ ɍᴏᴜɴᴅ ᴜsᴇɍᴜʟ ɪɴ  <a href="http://xkcd.com/1047" class="postlink">ᴛʜɪs хᴋᴄᴅ</a></span></div></div>
		
	</div>

	<dl class="postprofile" id="profile18102">
		<dt><a href="./memberlist.php?mode=viewprofile&amp;u=27"><img src="./download/file.php?avatar=27_1451287647.png" width="120" height="120" alt="User avatar" /></a><br /><a href="./memberlist.php?mode=viewprofile&amp;u=27">mrob27</a></dt>
		
		<dd>&nbsp;</dd>
		<dd><strong>Posts:</strong> 28</dd>
		<dd><strong>Joined:</strong> Tuesday, June 28, 2011; 00:19</dd><dd><strong>Location:</strong> Cambridge, USA </dd>
		<dd>
			<ul class="profile-icons">
			<li class="pm-icon"><a href="./ucp.php?i=pm&amp;mode=compose&amp;u=27" title="Private message"><span>Private message</span></a></li><li class="web-icon"><a href="https://example.com" title="WWW: http://mrob.com"><span>Website</span></a></li>
			</ul>
		</dd>
		
	</dl>

	<div class="back2top"><a href="#top" class="top" title="Top">Top</a></div>

	<span class="corners-bottom"><span></span></span></div>
</div>
