<form id="postform" method="post" action="./ucp.php?i=pm&amp;mode=compose&amp;action=post&amp;sid={{sid}}">


<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>

	<div style="width: 100%;">

	<div id="cp-menu">
		<div id="navigation">

		
				<ul>
					
						<li id="active-subsection"><a href="./ucp.php?i=pm&amp;mode=compose"><span>Compose message</span></a></li>
					
				</ul>
				
				<ul>
					
						<li><a href="./ucp.php?i=pm&amp;mode=drafts"><span>Manage PM drafts</span></a></li>
					
				</ul>
				

			<hr />
			<ul>
					<li><a href="./ucp.php?i=pm&amp;folder=inbox"><span>Inbox</span></a></li>
				
					<li><a href="./ucp.php?i=pm&amp;folder=outbox"><span>Outbox</span></a></li>
				
					<li><a href="./ucp.php?i=pm&amp;folder=sentbox"><span>Sent messages</span></a></li>
				</ul>
			<hr />
		

			<ul>
		
					<li><a href="./ucp.php?i=pm&amp;mode=options"><span>Rules, folders &amp; settings</span></a></li>
				
			</ul>
		</div>

		

	</div>

	<div id="cp-main" class="ucp-main">

<h2>Compose message</h2>

<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>

	<script type="text/javascript">
// <![CDATA[
	onload_functions.push('apply_onkeypress_event()');
// ]]>
</script>

<fieldset class="fields1">
	

		<div class="column1">
		
				<dl>
					<dt><label>To:</label></dt>
					<dd>
						<a href="./memberlist.php?mode=viewprofile&amp;u=27">mrob27</a>&nbsp;<input type="submit" name="remove_u[27]" value="x" class="button2" />&nbsp;
					</dd>
				</dl>
			
			<dl class="pmlist">
				<dt><textarea id="username_list" name="username_list" class="inputbox" cols="50" rows="2" tabindex="1"></textarea></dt>
				<dd><span><a href="./memberlist.php?mode=searchuser&amp;form=postform&amp;field=username_list&amp;select_single=" onclick="find_username(this.href); return false;">Find a member</a></span></dd>
				<dd><input type="submit" name="add_to" value="Add" class="button2" tabindex="1" /></dd>
				<dd><input type="submit" name="add_bcc" value="Add [BCC]" class="button2" tabindex="1" /></dd>
			</dl>
			

		</div>

		

		<div class="clear"></div>

	
	<dl>
		<dt><label for="icon">PM icon:</label></dt>
		<dd>
			<label for="icon"><input type="radio" name="icon" id="icon" value="0" checked="checked" tabindex="1" /> No PM icon</label>
			<label for="icon-1"><input type="radio" name="icon" id="icon-1" value="1"  tabindex="1" /><img src="./images/icons/misc/fire.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-5"><input type="radio" name="icon" id="icon-5" value="5"  tabindex="1" /><img src="./images/icons/misc/star.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-6"><input type="radio" name="icon" id="icon-6" value="6"  tabindex="1" /><img src="./images/icons/misc/radioactive.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-4"><input type="radio" name="icon" id="icon-4" value="4"  tabindex="1" /><img src="./images/icons/misc/heart.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-7"><input type="radio" name="icon" id="icon-7" value="7"  tabindex="1" /><img src="./images/icons/misc/thinking.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-9"><input type="radio" name="icon" id="icon-9" value="9"  tabindex="1" /><img src="./images/icons/smile/question.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-10"><input type="radio" name="icon" id="icon-10" value="10"  tabindex="1" /><img src="./images/icons/smile/alert.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-8"><input type="radio" name="icon" id="icon-8" value="8"  tabindex="1" /><img src="./images/icons/smile/info.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-2"><input type="radio" name="icon" id="icon-2" value="2"  tabindex="1" /><img src="./images/icons/smile/redface.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-3"><input type="radio" name="icon" id="icon-3" value="3"  tabindex="1" /><img src="./images/icons/smile/mrgreen.gif" width="16" height="16" alt="" title="" /></label> 
		</dd>
	</dl>
	
	<dl style="clear: left;">
		<dt><label for="subject">Subject:</label></dt>
		<dd><input type="text" name="subject" id="subject" size="45" maxlength="60" tabindex="2" value="" class="inputbox autowidth" /></dd>
	</dl>
	<script type="text/javascript">
// <![CDATA[
	var form_name = 'postform';
	var text_name = 'message';
	var load_draft = false;
	var upload = false;

	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]', '[bibliography]', '[/bibliography]', '[center]', '[/center]', '[cite]', '[/cite]', '[imath]', '[/imath]', '[math]', '[/math]', '[right]', '[/right]', '[s]', '[/s]', '[spoiler]', '[/spoiler]', '[sub]', '[/sub]', '[sup]', '[/sup]');
	var imageTag = false;

	// Helpline messages
	var help_line = {
		b: 'Bold text: [b]text[/b]',
		i: 'Italic text: [i]text[/i]',
		u: 'Underline text: [u]text[/u]',
		q: 'Quote text: [quote]text[/quote]',
		c: 'Code display: [code]code[/code]',
		l: 'List: [list]text[/list]',
		o: 'Ordered list: [list=]text[/list]',
		p: 'Insert image: [img]http://image_url[/img]',
		w: 'Insert URL: [url]http://url[/url] or [url=http://url]URL text[/url]',
		a: 'Inline uploaded attachment: [attachment=]filename.ext[/attachment]',
		s: 'Font colour: [color=red]text[/color]  Tip: you can also use color=#FF0000',
		f: 'Font size: [size=85]small text[/size]',
		y: 'List: Add list element',
		d: 'Flash: [flash=width,height]http://url[/flash]'
		
			,cb_22: ''
		
			,cb_24: ''
		
			,cb_26: ''
		
			,cb_28: 'Inserts an inline block of TeX math.'
		
			,cb_30: 'Adds a block of TeX math (not inline)'
		
			,cb_32: ''
		
			,cb_34: 'strike through'
		
			,cb_36: 'hides spoilers'
		
			,cb_38: 'subscript'
		
			,cb_40: 'superscript'
		
	}

	var panels = new Array('options-panel', 'attach-panel', 'poll-panel');
	var show_panel = 'options-panel';


// ]]>
</script>
<script type="text/javascript" src="./styles/prosilver/template/editor.js"></script>


<div id="colour_palette" style="display: none;">
	<dl style="clear: left;">
		<dt><label>Font colour:</label></dt>
		<dd>
		<script type="text/javascript">
		// <![CDATA[
			function change_palette()
			{
				dE('colour_palette');
				e = document.getElementById('colour_palette');
				
				if (e.style.display == 'block')
				{
					document.getElementById('bbpalette').value = 'Hide font colour';
				}
				else
				{
					document.getElementById('bbpalette').value = 'Font colour';
				}
			}

			colorPalette('h', 15, 10);
		// ]]>
		</script>
		</dd>
	</dl>
</div>

<div id="format-buttons">
	<input type="button" class="button2" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px" onclick="bbstyle(0)" title="Bold text: [b]text[/b]" />
	<input type="button" class="button2" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px" onclick="bbstyle(2)" title="Italic text: [i]text[/i]" />
	<input type="button" class="button2" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px" onclick="bbstyle(4)" title="Underline text: [u]text[/u]" />
	
		<input type="button" class="button2" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onclick="bbstyle(6)" title="Quote text: [quote]text[/quote]" />
	
	<input type="button" class="button2" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onclick="bbstyle(8)" title="Code display: [code]code[/code]" />
	<input type="button" class="button2" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onclick="bbstyle(10)" title="List: [list]text[/list]" />
	<input type="button" class="button2" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onclick="bbstyle(12)" title="Ordered list: [list=]text[/list]" />
	<input type="button" class="button2" accesskey="y" name="addlistitem" value="[*]" style="width: 40px" onclick="bbstyle(-1)" title="List item: [*]text[/*]" />
	
		<input type="button" class="button2" accesskey="p" name="addbbcode14" value="Img" style="width: 40px" onclick="bbstyle(14)" title="Insert image: [img]http://image_url[/img]" />
	
		<input type="button" class="button2" accesskey="w" name="addbbcode16" value="URL" style="text-decoration: underline; width: 40px" onclick="bbstyle(16)" title="Insert URL: [url]http://url[/url] or [url=http://url]URL text[/url]" />
	
	<select name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" title="Font size: [size=85]small text[/size]">
		<option value="50">Tiny</option>
		<option value="85">Small</option>
		<option value="100" selected="selected">Normal</option>
		
			<option value="150">Large</option>
			
				<option value="200">Huge</option>
			
	</select>
	<input type="button" class="button2" name="bbpalette" id="bbpalette" value="Font colour" onclick="change_palette();" title="Font colour: [color=red]text[/color]  Tip: you can also use color=#FF0000" />
	
		<input type="button" class="button2" name="addbbcode22" value="bibliography" onclick="bbstyle(22)" title="" />
	
		<input type="button" class="button2" name="addbbcode24" value="center" onclick="bbstyle(24)" title="" />
	
		<input type="button" class="button2" name="addbbcode26" value="cite" onclick="bbstyle(26)" title="" />
	
		<input type="button" class="button2" name="addbbcode28" value="imath" onclick="bbstyle(28)" title="Inserts an inline block of TeX math." />
	
		<input type="button" class="button2" name="addbbcode30" value="math" onclick="bbstyle(30)" title="Adds a block of TeX math (not inline)" />
	
		<input type="button" class="button2" name="addbbcode32" value="right" onclick="bbstyle(32)" title="" />
	
		<input type="button" class="button2" name="addbbcode34" value="s" onclick="bbstyle(34)" title="strike through" />
	
		<input type="button" class="button2" name="addbbcode36" value="spoiler" onclick="bbstyle(36)" title="hides spoilers" />
	
		<input type="button" class="button2" name="addbbcode38" value="sub" onclick="bbstyle(38)" title="subscript" />
	
		<input type="button" class="button2" name="addbbcode40" value="sup" onclick="bbstyle(40)" title="superscript" />
	
</div>


	<div id="smiley-box">
		
			<strong>Smilies</strong><br />
			
				<a href="#" onclick="insert_text(':D', true); return false;"><img src="./images/smilies/icon_biggrin.gif" width="15" height="15" alt=":D" title="Very Happy" /></a>
			
				<a href="#" onclick="insert_text(':)', true); return false;"><img src="./images/smilies/icon_smile.gif" width="15" height="15" alt=":)" title="Smile" /></a>
			
				<a href="#" onclick="insert_text(':(', true); return false;"><img src="./images/smilies/icon_sad.gif" width="15" height="15" alt=":(" title="Sad" /></a>
			
				<a href="#" onclick="insert_text(':o', true); return false;"><img src="./images/smilies/icon_surprised.gif" width="15" height="15" alt=":o" title="Surprised" /></a>
			
				<a href="#" onclick="insert_text(':shock:', true); return false;"><img src="./images/smilies/icon_eek.gif" width="15" height="15" alt=":shock:" title="Shocked" /></a>
			
				<a href="#" onclick="insert_text(':?', true); return false;"><img src="./images/smilies/icon_confused.gif" width="15" height="15" alt=":?" title="Confused" /></a>
			
				<a href="#" onclick="insert_text('8-)', true); return false;"><img src="./images/smilies/icon_cool.gif" width="15" height="15" alt="8-)" title="Cool" /></a>
			
				<a href="#" onclick="insert_text(':lol:', true); return false;"><img src="./images/smilies/icon_lol.gif" width="15" height="15" alt=":lol:" title="Laughing" /></a>
			
				<a href="#" onclick="insert_text(':x', true); return false;"><img src="./images/smilies/icon_mad.gif" width="15" height="15" alt=":x" title="Mad" /></a>
			
				<a href="#" onclick="insert_text(':P', true); return false;"><img src="./images/smilies/icon_razz.gif" width="15" height="15" alt=":P" title="Razz" /></a>
			
				<a href="#" onclick="insert_text(':oops:', true); return false;"><img src="./images/smilies/icon_redface.gif" width="15" height="15" alt=":oops:" title="Embarassed" /></a>
			
				<a href="#" onclick="insert_text(':cry:', true); return false;"><img src="./images/smilies/icon_cry.gif" width="15" height="15" alt=":cry:" title="Crying or Very sad" /></a>
			
				<a href="#" onclick="insert_text(':evil:', true); return false;"><img src="./images/smilies/icon_evil.gif" width="15" height="15" alt=":evil:" title="Evil or Very Mad" /></a>
			
				<a href="#" onclick="insert_text(':twisted:', true); return false;"><img src="./images/smilies/icon_twisted.gif" width="15" height="15" alt=":twisted:" title="Twisted Evil" /></a>
			
				<a href="#" onclick="insert_text(':roll:', true); return false;"><img src="./images/smilies/icon_rolleyes.gif" width="15" height="15" alt=":roll:" title="Rolling Eyes" /></a>
			
				<a href="#" onclick="insert_text(':wink:', true); return false;"><img src="./images/smilies/icon_wink.gif" width="15" height="15" alt=":wink:" title="Wink" /></a>
			
				<a href="#" onclick="insert_text(':!:', true); return false;"><img src="./images/smilies/icon_exclaim.gif" width="15" height="15" alt=":!:" title="Exclamation" /></a>
			
				<a href="#" onclick="insert_text(':?:', true); return false;"><img src="./images/smilies/icon_question.gif" width="15" height="15" alt=":?:" title="Question" /></a>
			
				<a href="#" onclick="insert_text(':idea:', true); return false;"><img src="./images/smilies/icon_idea.gif" width="15" height="15" alt=":idea:" title="Idea" /></a>
			
				<a href="#" onclick="insert_text(':arrow:', true); return false;"><img src="./images/smilies/icon_arrow.gif" width="15" height="15" alt=":arrow:" title="Arrow" /></a>
			
				<a href="#" onclick="insert_text(':|', true); return false;"><img src="./images/smilies/icon_neutral.gif" width="15" height="15" alt=":|" title="Neutral" /></a>
			
				<a href="#" onclick="insert_text(':mrgreen:', true); return false;"><img src="./images/smilies/icon_mrgreen.gif" width="15" height="15" alt=":mrgreen:" title="Mr. Green" /></a>
			<hr />
		<a href="./faq.php?mode=bbcode">BBCode</a> is <em>ON</em><br />
		
			[img] is <em>ON</em><br />
			[flash] is <em>OFF</em><br />
			[url] is <em>ON</em><br />
		
		Smilies are <em>ON</em>
		
	</div>

	<div id="message-box">
		<textarea name="message" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox"></textarea>
	</div>
</fieldset>


		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset class="submit-buttons">
			<input type="hidden" name="address_list[u][27]" value="to" />
			<input type="hidden" name="lastclick" value="{{lastclick}}" /><input type="hidden" name="status_switch" value="0" />
			<input type="submit" accesskey="k" tabindex="7" name="save" value="Save draft" class="button2" />&nbsp; 
			<input type="submit" tabindex="5" name="preview" value="Preview" class="button1" />&nbsp;
			<input type="submit" accesskey="s" tabindex="6" name="post" value="Submit" class="button1 default-submit-action" />&nbsp;

		</fieldset>

		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	<div class="panel bg3" id="options-panel">
		<div class="inner"><span class="corners-top"><span></span></span>

		<fieldset class="fields1">
			
				<div><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode" /> Disable BBCode</label></div>
			
				<div><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies" /> Disable smilies</label></div>
			
				<div><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url" /> Do not automatically parse URLs</label></div>
			
				<div><label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig" /> Attach a signature (signatures can be altered via the UCP)</label></div>
			
		</fieldset>
		

	<span class="corners-bottom"><span></span></span></div>
</div>

</div>
	<div class="clear"></div>

	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

<div><input type="hidden" name="creation_time" value="{{creation_time}}" />
<input type="hidden" name="form_token" value="{{form_token}}" />
</div>
</form>
