<div class="panel" id="message">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h2>Information</h2>
	<p>This message has been deleted successfully.<br /><br /><a href="./ucp.php?i=pm&amp;folder=-2">Return to previous folder</a></p>

	<span class="corners-bottom"><span></span></span></div>
</div>
