<form id="confirm" action="./ucp.php?i=pm&amp;mode=compose&amp;action=delete&amp;f=-2&amp;p=247036&amp;confirm_key={{confirm_key}}" method="post">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h2>Delete message</h2>
	<p>Are you sure you want to delete this message?</p>

	<fieldset class="submit-buttons">
		<input type="hidden" name="p" value="247036" />
<input type="hidden" name="f" value="-2" />
<input type="hidden" name="action" value="delete" />
<input type="hidden" name="confirm_uid" value="{{uid}}" />
<input type="hidden" name="sess" value="{{sid}}" />
<input type="hidden" name="sid" value="{{sid}}" />

		<input type="submit" name="confirm" value="Yes" class="button2" />&nbsp;
		<input type="submit" name="cancel" value="No" class="button2" />
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
</form>
