<form id="viewfolder" method="post" action="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>Folder is 100% full (3 from 3 messages stored)</p>
		<div class="buttons">
			<div class="newpm-icon"><a href="./ucp.php?i=pm&amp;mode=compose" accesskey="n" title="Compose message"><span></span>Compose message</a></div>			
		</div>
	
	<ul class="linklist">
		<li class="rightside pagination">
			462 messages &bull; <a href="#" onclick="jumpto(); return false;" title="Click to jump to page…">Page <strong>1</strong> of <strong>10</strong></a> &bull; <span><strong>1</strong><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0&amp;st=0&amp;sk=t&amp;sd=d&amp;start=50">2</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0&amp;st=0&amp;sk=t&amp;sd=d&amp;start=100">3</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0&amp;st=0&amp;sk=t&amp;sd=d&amp;start=150">4</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0&amp;st=0&amp;sk=t&amp;sd=d&amp;start=200">5</a><span class="page-dots"> ... </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0&amp;st=0&amp;sk=t&amp;sd=d&amp;start=450">10</a></span>
		</li>
	</ul>
	
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>Message</dt>
					<dd class="mark">Mark</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist pmlist">

		
			<li class="row bg2">
				<dl class="icon" style="background-image: url(./styles/prosilver/imageset/topic_{{pm1.unread}}read.gif); background-repeat: no-repeat;">
					<dt>

						
							<a href="./ucp.php?i=pm&amp;mode=view&amp;f=0&amp;p=148221" class="topictitle">Re: things</a>
						 <br />
						by <a href="./memberlist.php?mode=viewprofile&amp;u=27">safira</a> &raquo; Thursday, February 5, 2015; 15:32
					</dt>
					
					<dd class="mark"><input type="checkbox" name="marked_msg_id[]" value="148221" /></dd>
				</dl>
			</li>
		
			<li class="row bg1">
				<dl class="icon" style="background-image: url(./styles/prosilver/imageset/topic_{{pm2.unread}}read.gif); background-repeat: no-repeat;">
					<dt>

						
							<a href="./ucp.php?i=pm&amp;mode=view&amp;f=0&amp;p=528491" class="topictitle">March Brouhaha</a>
						 <br />
						by <a href="./memberlist.php?mode=viewprofile&amp;u=1509899">ST</a> &raquo; Sunday, February 1, 2015; 09:19
					</dt>
					
					<dd class="mark"><input type="checkbox" name="marked_msg_id[]" value="528491" /></dd>
				</dl>
			</li>
		
			<li class="row bg2 pm_replied_colour">
				<dl class="icon" style="background-image: url(./styles/prosilver/imageset/topic_{{pm3.unread}}read.gif); background-repeat: no-repeat;">
					<dt>

						
							<a href="./ucp.php?i=pm&amp;mode=view&amp;f=0&amp;p=18102" class="topictitle">Re: What were we talking about back then?</a>
						 <br />
						by <a href="./memberlist.php?mode=viewprofile&amp;u=27">mrob27</a> &raquo; Wednesday, September 24, 2014; 01:10
					</dt>
					
					<dd class="mark"><input type="checkbox" name="marked_msg_id[]" value="18102" /></dd>
				</dl>
			</li>
		

		</ul>
	
	<fieldset class="display-actions">
		<div class="left-box"><label for="export_option">Export this view: <select name="export_option" id="export_option"><option value="CSV">Export as CSV</option><option value="CSV_EXCEL">Export as CSV (Excel)</option><option value="XML">Export as XML</option></select></label> <input class="button2" type="submit" name="submit_export" value="Go" /><br /></div>
		<select name="mark_option"><option value="mark_important">Mark/Unmark as important</option><option value="delete_marked">Delete marked</option></select> <input class="button2" type="submit" name="submit_mark" value="Go" />
		<div><a href="#" onclick="marklist('viewfolder', 'marked_msg', true); return false;">Mark all</a> &bull; <a href="#" onclick="marklist('viewfolder', 'marked_msg', false); return false;">Unmark all</a></div>
	</fieldset>

	<hr />

	<ul class="linklist">
		
		<li class="rightside pagination">
			462 messages &bull; <a href="#" onclick="jumpto(); return false;" title="Click to jump to page…">Page <strong>1</strong> of <strong>10</strong></a> &bull; <span><strong>1</strong><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0&amp;st=0&amp;sk=t&amp;sd=d&amp;start=50">2</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0&amp;st=0&amp;sk=t&amp;sd=d&amp;start=100">3</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0&amp;st=0&amp;sk=t&amp;sd=d&amp;start=150">4</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0&amp;st=0&amp;sk=t&amp;sd=d&amp;start=200">5</a><span class="page-dots"> ... </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0&amp;st=0&amp;sk=t&amp;sd=d&amp;start=450">10</a></span>
		</li>
		
	</ul>
	

		<span class="corners-bottom"><span></span></span></div>
	</div>

	
	<fieldset class="display-options">
		<a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=0&amp;st=0&amp;sk=t&amp;sd=d&amp;start=50" class="right-box right">Next</a>
		<label>Display: <select name="st" id="st"><option value="0" selected="selected">All messages</option><option value="1">1 day</option><option value="7">7 days</option><option value="14">2 weeks</option><option value="30">1 month</option><option value="90">3 months</option><option value="180">6 months</option><option value="365">1 year</option></select></label>
		<label>Sort by <select name="sk" id="sk"><option value="a">Author</option><option value="t" selected="selected">Post time</option><option value="s">Subject</option></select></label>
		<label><select name="sd" id="sd"><option value="a">Ascending</option><option value="d" selected="selected">Descending</option></select> <input type="submit" name="sort" value="Go" class="button2" /></label>
		<input type="hidden" name="cur_folder_id" value="0" />
	</fieldset>
	<div></div>
</form>
