<form id="viewfolder" method="post" action="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-2">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>Folder is 0% full (1 from 8192 messages stored)</p>
		<div class="buttons">
			<div class="newpm-icon"><a href="./ucp.php?i=pm&amp;mode=compose" accesskey="n" title="Compose message"><span></span>Compose message</a></div>
		</div>

	<ul class="linklist">
		<li class="rightside pagination">
			1 message &bull; Page <strong>1</strong> of <strong>1</strong>
		</li>
	</ul>

		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>Message</dt>
					<dd class="mark">Mark</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist pmlist">


			<li class="row bg2">
				<dl class="icon" style="background-image: url(./styles/prosilver/imageset/topic_read.gif); background-repeat: no-repeat;">
					<dt style="background-image: url(images/icons/misc/radioactive.gif); background-repeat: no-repeat;">


							<a href="./ucp.php?i=pm&amp;mode=view&amp;f=-2&amp;p=247036" class="topictitle">Guten tag</a>
						 <br />
						To <a href="./memberlist.php?mode=viewprofile&amp;u=37396">Sustainabilizer</a>
					</dt>
					<dd class="info"><span>Sent: Thursday, December 26, 2013; 16:25</span></dd>
					<dd class="mark"><input type="checkbox" name="marked_msg_id[]" value="247036" /></dd>
				</dl>
			</li>


		</ul>

	<fieldset class="display-actions">
		<div class="left-box"><label for="export_option">Export this view: <select name="export_option" id="export_option"><option value="CSV">Export as CSV</option><option value="CSV_EXCEL">Export as CSV (Excel)</option><option value="XML">Export as XML</option></select></label> <input class="button2" type="submit" name="submit_export" value="Go" /><br /></div>
		<select name="mark_option"><option value="mark_important">Mark/Unmark as important</option><option value="delete_marked">Delete marked</option></select> <input class="button2" type="submit" name="submit_mark" value="Go" />
		<div><a href="#" onclick="marklist('viewfolder', 'marked_msg', true); return false;">Mark all</a> &bull; <a href="#" onclick="marklist('viewfolder', 'marked_msg', false); return false;">Unmark all</a></div>
	</fieldset>

	<hr />

	<ul class="linklist">

		<li class="rightside pagination">
			1 message &bull; Page <strong>1</strong> of <strong>1</strong>
		</li>

	</ul>


		<span class="corners-bottom"><span></span></span></div>
	</div>


	<fieldset class="display-options">

		<label>Display: <select name="st" id="st"><option value="0" selected="selected">All messages</option><option value="1">1 day</option><option value="7">7 days</option><option value="14">2 weeks</option><option value="30">1 month</option><option value="90">3 months</option><option value="180">6 months</option><option value="365">1 year</option></select></label>
		<label>Sort by <select name="sk" id="sk"><option value="t" selected="selected">Post time</option><option value="s">Subject</option></select></label>
		<label><select name="sd" id="sd"><option value="a">Ascending</option><option value="d" selected="selected">Descending</option></select> <input type="submit" name="sort" value="Go" class="button2" /></label>
		<input type="hidden" name="cur_folder_id" value="-2" />
	</fieldset>
	<div></div>
</form>
