<div class="panel" id="message">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h2>Information</h2>
	<p>This message has been sent successfully.<br /><br /><a href="./ucp.php?i=pm&amp;mode=view&amp;p=246577">View your submitted private message</a><br /><br /><a href="./ucp.php?i=pm&amp;folder=outbox">Return to your “Outbox” folder</a></p>
	
	<span class="corners-bottom"><span></span></span></div>
</div>
