<form id="viewfolder" method="post" action="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1">

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>Folder is -1% full (-2 from 1 messages stored)</p>
		<div class="buttons">
			<div class="newpm-icon"><a href="./ucp.php?i=pm&amp;mode=compose" accesskey="n" title="Compose message"><span></span>Compose message</a></div>
		</div>

	<ul class="linklist">
		<li class="rightside pagination">
			471 messages &bull; <a href="#" onclick="jumpto(); return false;" title="Click to jump to page…">Page <strong>1</strong> of <strong>10</strong></a> &bull; <span><strong>1</strong><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1&amp;st=0&amp;sk=t&amp;sd=d&amp;start=50">2</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1&amp;st=0&amp;sk=t&amp;sd=d&amp;start=100">3</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1&amp;st=0&amp;sk=t&amp;sd=d&amp;start=150">4</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1&amp;st=0&amp;sk=t&amp;sd=d&amp;start=200">5</a><span class="page-dots"> ... </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1&amp;st=0&amp;sk=t&amp;sd=d&amp;start=450">10</a></span>
		</li>
	</ul>

		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>Message</dt>
					<dd class="mark">Mark</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist pmlist">


			<li class="row bg2">
				<dl class="icon" style="background-image: url(./styles/prosilver/imageset/topic_read.gif); background-repeat: no-repeat;">
					<dt>


							<a href="./ucp.php?i=pm&amp;mode=view&amp;f=-1&amp;p=35328" class="topictitle">Re: ChrCount</a>
						 <br />
						To <a href="./memberlist.php?mode=viewprofile&amp;u=146618">m.rob</a>
					</dt>
					<dd class="info"><span>Sent: Thursday, March 08, 1516; 23:42</span></dd>
					<dd class="mark"><input type="checkbox" name="marked_msg_id[]" value="35328" /></dd>
				</dl>
			</li>

			<li class="row bg1">
				<dl class="icon" style="background-image: url(./styles/prosilver/imageset/topic_read.gif); background-repeat: no-repeat;">
					<dt>


							<a href="./ucp.php?i=pm&amp;mode=view&amp;f=-1&amp;p=214700" class="topictitle">Isn'tThisFun</a>
						 <br />
						To <a href="./memberlist.php?mode=viewprofile&amp;u=553553">MMX</a>
					</dt>
					<dd class="info"><span>Sent: Thursday, March 12, 2015; 08:19</span></dd>
					<dd class="mark"><input type="checkbox" name="marked_msg_id[]" value="214700" /></dd>
				</dl>
			</li>


		</ul>

	<fieldset class="display-actions">
		<div class="left-box"><label for="export_option">Export this view: <select name="export_option" id="export_option"><option value="CSV">Export as CSV</option><option value="CSV_EXCEL">Export as CSV (Excel)</option><option value="XML">Export as XML</option></select></label> <input class="button2" type="submit" name="submit_export" value="Go" /><br /></div>
		<select name="mark_option"><option value="mark_important">Mark/Unmark as important</option><option value="delete_marked">Delete marked</option><option value="0">Move marked to Inbox</option></select> <input class="button2" type="submit" name="submit_mark" value="Go" />
		<div><a href="#" onclick="marklist('viewfolder', 'marked_msg', true); return false;">Mark all</a> &bull; <a href="#" onclick="marklist('viewfolder', 'marked_msg', false); return false;">Unmark all</a></div>
	</fieldset>

	<hr />

	<ul class="linklist">

		<li class="rightside pagination">
			471 messages &bull; <a href="#" onclick="jumpto(); return false;" title="Click to jump to page…">Page <strong>1</strong> of <strong>10</strong></a> &bull; <span><strong>1</strong><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1&amp;st=0&amp;sk=t&amp;sd=d&amp;start=50">2</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1&amp;st=0&amp;sk=t&amp;sd=d&amp;start=100">3</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1&amp;st=0&amp;sk=t&amp;sd=d&amp;start=150">4</a><span class="page-sep">, </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1&amp;st=0&amp;sk=t&amp;sd=d&amp;start=200">5</a><span class="page-dots"> ... </span><a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1&amp;st=0&amp;sk=t&amp;sd=d&amp;start=450">10</a></span>
		</li>

	</ul>


		<span class="corners-bottom"><span></span></span></div>
	</div>


	<fieldset class="display-options">
		<a href="./ucp.php?i=pm&amp;mode=view&amp;action=view_folder&amp;f=-1&amp;st=0&amp;sk=t&amp;sd=d&amp;start=50" class="right-box right">Next</a>
		<label>Display: <select name="st" id="st"><option value="0" selected="selected">All messages</option><option value="1">1 day</option><option value="7">7 days</option><option value="14">2 weeks</option><option value="30">1 month</option><option value="90">3 months</option><option value="180">6 months</option><option value="365">1 year</option></select></label>
		<label>Sort by <select name="sk" id="sk"><option value="t" selected="selected">Post time</option><option value="s">Subject</option></select></label>
		<label><select name="sd" id="sd"><option value="a">Ascending</option><option value="d" selected="selected">Descending</option></select> <input type="submit" name="sort" value="Go" class="button2" /></label>
		<input type="hidden" name="cur_folder_id" value="-1" />
	</fieldset>
	<div></div>
</form>
