	<div id="p3760694" class="post bg2">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="postbody">


			<h3 class="first"><a href="#p3760694">Now Atom ate my reply.  Ain't that helvetican?</a></h3>
			<p class="author"><a href="./viewtopic.php?p=3760694#p3760694"><img src="./styles/prosilver/imageset/icon_post_target.gif" width="11" height="9" alt="Post" title="Post" /></a>by <strong><a href="./memberlist.php?mode=viewprofile&amp;u={{uid}}">AluisioASG</a></strong> &raquo; Sunday, March 22, 2015; 23:28 </p>



			<div class="content"><span style="font-weight: bold"><span style="font-style: italic">@safira</span>'s implementation status report</span><br /><ul><li> UCP: <ul><li> set-signature: <span style="font-style: italic">implemented</span></li><li> clear-signature: <span style="font-style: italic">unimplemented</span></li><li> set-location: <span style="font-style: italic">unimplemented</span></li><li> clear-location: <span style="font-style: italic">unimplemented</span></li><li> <span style="font-style: italic">TODO: other fields</span></li></ul></li><li> Private messages: <ul><li> new-pm: <span style="font-style: italic">implemented</span></li><li> read-pm: <span style="font-style: italic">implemented</span></li><li> edit-pm: <span style="font-style: italic">unimplemented</span></li><li> delete-pm: <span style="font-style: italic">unimplemented</span></li><li> get-pm-inbox: <span style="font-style: italic">implemented</span></li><li> get-pm-outbox: <span style="font-style: italic">under consideration</span></li><li> get-pm-sentbox: <span style="font-style: italic">under consideration</span></li></ul></li><li> Posts: <ul><li> new-post: <span style="font-style: italic">implemented</span></li><li> read-post: <span style="font-style: italic">implemented</span></li><li> edit-post: <span style="font-style: italic">unimplemented</span></li><li> delete-post: <span style="font-style: italic">implemented</span></li><li> get-posts: <span style="font-style: italic">unimplemented</span></li></ul></li></ul><div align="right"><span style="color: sapphire">-- ❣</span></div></div>



		</div>


			<dl class="postprofile" id="profile3760694">
			<dt>
				<a href="./memberlist.php?mode=viewprofile&amp;u={{uid}}"><img src="./download/file.php?avatar={{uid}}_1418857172.png" width="128" height="150" alt="User avatar" /></a><br />
				<a href="./memberlist.php?mode=viewprofile&amp;u={{uid}}">AluisioASG</a>
			</dt>



		<dd>&nbsp;</dd>

		<dd><strong>Posts:</strong> 2101</dd><dd><strong>Joined:</strong> Tuesday, March 26, 2013; 12:43</dd><dd><strong>Location:</strong> NaN, −NaN [NOWHERE]</dd>
			<dd>
				<ul class="profile-icons">
					<li class="web-icon"><a href="https://aasg.chirpingmustard.com/" title="WWW: https://aasg.chirpingmustard.com/"><span>Website</span></a></li>
				</ul>
			</dd>


		</dl>


		<div class="back2top"><a href="#wrap" class="top" title="Top">Top</a></div>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<hr class="divider" />

	<div id="p3762096" class="post bg1 online">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="postbody">


			<h3 ><a href="#p3762096">Status update</a></h3>
			<p class="author"><a href="./viewtopic.php?p=3762096#p3762096"><img src="./styles/prosilver/imageset/icon_post_target.gif" width="11" height="9" alt="Post" title="Post" /></a>by <strong><a href="./memberlist.php?mode=viewprofile&amp;u={{uid}}">AluisioASG</a></strong> &raquo; Wednewday, March 25, 2015; 03:10 </p>



			<div class="content"><span style="font-weight: bold"><span style="font-style: italic"><span style="color: #0f52ba">safira</span></span>'s unimplementation status report</span><br /><ul><li> UCP: <ul><li> set-location: <span style="font-style: italic">unimplemented</span></li><li> clear-location: <span style="font-style: italic">unimplemented</span></li><li> <span style="font-style: italic">TODO: other fields</span></li></ul></li><li> Private messages: <span style="font-weight: bold">fully implemented</span></li><li> Posts: <ul><li> get-posts: <span style="font-style: italic">unimplemented</span></li></ul></li></ul></div>



		</div>


			<dl class="postprofile" id="profile3762096">
			<dt>
				<a href="./memberlist.php?mode=viewprofile&amp;u={{uid}}"><img src="./download/file.php?avatar={{uid}}_1418857172.png" width="128" height="150" alt="User avatar" /></a><br />
				<a href="./memberlist.php?mode=viewprofile&amp;u={{uid}}">AluisioASG</a>
			</dt>



		<dd>&nbsp;</dd>

		<dd><strong>Posts:</strong> 2101</dd><dd><strong>Joined:</strong> Tuesday, March 26, 2013; 12:43</dd><dd><strong>Location:</strong> NaN, −NaN [NOWHERE]</dd>
			<dd>
				<ul class="profile-icons">
					<li class="web-icon"><a href="https://aasg.chirpingmustard.com/" title="WWW: https://aasg.chirpingmustard.com/"><span>Website</span></a></li>
				</ul>
			</dd>


		</dl>


		<div class="back2top"><a href="#wrap" class="top" title="Top">Top</a></div>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<hr class="divider" />
