<div class="panel" id="message">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h2>Information</h2>
	<p>Your profile has been updated.<br /><br /><a href="./ucp.php?i=profile&amp;{{ucp.linkback}}">Return to the User Control Panel</a></p>
	
	<span class="corners-bottom"><span></span></span></div>
</div>
