<form id="postform" method="post" action="./ucp.php?i=profile&amp;mode=signature">

<h2>Edit signature</h2>



<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>This is a block of text that can be added to posts you make. There is a 300 character limit.</p>

	<script type="text/javascript">
// <![CDATA[
	onload_functions.push('apply_onkeypress_event()');
// ]]>
</script>

<fieldset class="fields1">
	<script type="text/javascript">
// <![CDATA[
	var form_name = 'postform';
	var text_name = 'signature';
	var load_draft = false;
	var upload = false;

	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]', '[bibliography]', '[/bibliography]', '[center]', '[/center]', '[cite]', '[/cite]', '[imath]', '[/imath]', '[math]', '[/math]', '[right]', '[/right]', '[s]', '[/s]', '[spoiler]', '[/spoiler]', '[sub]', '[/sub]', '[sup]', '[/sup]');
	var imageTag = false;

	// Helpline messages
	var help_line = {
		b: 'Bold text: [b]text[/b]',
		i: 'Italic text: [i]text[/i]',
		u: 'Underline text: [u]text[/u]',
		q: 'Quote text: [quote]text[/quote]',
		c: 'Code display: [code]code[/code]',
		l: 'List: [list]text[/list]',
		o: 'Ordered list: [list=]text[/list]',
		p: 'Insert image: [img]http://image_url[/img]',
		w: 'Insert URL: [url]http://url[/url] or [url=http://url]URL text[/url]',
		a: 'Inline uploaded attachment: [attachment=]filename.ext[/attachment]',
		s: 'Font colour: [color=red]text[/color]  Tip: you can also use color=#FF0000',
		f: 'Font size: [size=85]small text[/size]',
		y: 'List: Add list element',
		d: 'Flash: [flash=width,height]http://url[/flash]'
		
			,cb_22: ''
		
			,cb_24: ''
		
			,cb_26: ''
		
			,cb_28: 'Inserts an inline block of TeX math.'
		
			,cb_30: 'Adds a block of TeX math (not inline)'
		
			,cb_32: ''
		
			,cb_34: 'strike through'
		
			,cb_36: 'hides spoilers'
		
			,cb_38: 'subscript'
		
			,cb_40: 'superscript'
		
	}

	var panels = new Array('options-panel', 'attach-panel', 'poll-panel');
	var show_panel = 'options-panel';


// ]]>
</script>
<script type="text/javascript" src="./styles/prosilver/template/editor.js"></script>


<div id="colour_palette" style="display: none;">
	<dl style="clear: left;">
		<dt><label>Font colour:</label></dt>
		<dd>
		<script type="text/javascript">
		// <![CDATA[
			function change_palette()
			{
				dE('colour_palette');
				e = document.getElementById('colour_palette');
				
				if (e.style.display == 'block')
				{
					document.getElementById('bbpalette').value = 'Hide font colour';
				}
				else
				{
					document.getElementById('bbpalette').value = 'Font colour';
				}
			}

			colorPalette('h', 15, 10);
		// ]]>
		</script>
		</dd>
	</dl>
</div>

<div id="format-buttons">
	<input type="button" class="button2" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px" onclick="bbstyle(0)" title="Bold text: [b]text[/b]" />
	<input type="button" class="button2" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px" onclick="bbstyle(2)" title="Italic text: [i]text[/i]" />
	<input type="button" class="button2" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px" onclick="bbstyle(4)" title="Underline text: [u]text[/u]" />
	
	<input type="button" class="button2" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onclick="bbstyle(8)" title="Code display: [code]code[/code]" />
	<input type="button" class="button2" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onclick="bbstyle(10)" title="List: [list]text[/list]" />
	<input type="button" class="button2" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onclick="bbstyle(12)" title="Ordered list: [list=]text[/list]" />
	<input type="button" class="button2" accesskey="y" name="addlistitem" value="[*]" style="width: 40px" onclick="bbstyle(-1)" title="List item: [*]text[/*]" />
	
		<input type="button" class="button2" accesskey="p" name="addbbcode14" value="Img" style="width: 40px" onclick="bbstyle(14)" title="Insert image: [img]http://image_url[/img]" />
	
		<input type="button" class="button2" accesskey="w" name="addbbcode16" value="URL" style="text-decoration: underline; width: 40px" onclick="bbstyle(16)" title="Insert URL: [url]http://url[/url] or [url=http://url]URL text[/url]" />
	
	<select name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" title="Font size: [size=85]small text[/size]">
		<option value="50">Tiny</option>
		<option value="85">Small</option>
		<option value="100" selected="selected">Normal</option>
		
			<option value="150">Large</option>
			
				<option value="200">Huge</option>
			
	</select>
	<input type="button" class="button2" name="bbpalette" id="bbpalette" value="Font colour" onclick="change_palette();" title="Font colour: [color=red]text[/color]  Tip: you can also use color=#FF0000" />
	
		<input type="button" class="button2" name="addbbcode22" value="bibliography" onclick="bbstyle(22)" title="" />
	
		<input type="button" class="button2" name="addbbcode24" value="center" onclick="bbstyle(24)" title="" />
	
		<input type="button" class="button2" name="addbbcode26" value="cite" onclick="bbstyle(26)" title="" />
	
		<input type="button" class="button2" name="addbbcode28" value="imath" onclick="bbstyle(28)" title="Inserts an inline block of TeX math." />
	
		<input type="button" class="button2" name="addbbcode30" value="math" onclick="bbstyle(30)" title="Adds a block of TeX math (not inline)" />
	
		<input type="button" class="button2" name="addbbcode32" value="right" onclick="bbstyle(32)" title="" />
	
		<input type="button" class="button2" name="addbbcode34" value="s" onclick="bbstyle(34)" title="strike through" />
	
		<input type="button" class="button2" name="addbbcode36" value="spoiler" onclick="bbstyle(36)" title="hides spoilers" />
	
		<input type="button" class="button2" name="addbbcode38" value="sub" onclick="bbstyle(38)" title="subscript" />
	
		<input type="button" class="button2" name="addbbcode40" value="sup" onclick="bbstyle(40)" title="superscript" />
	
</div>


	<div id="smiley-box">
		
		<a href="./faq.php?mode=bbcode">BBCode</a> is <em>ON</em><br />
		
			[img] is <em>ON</em><br />
			[flash] is <em>OFF</em><br />
			[url] is <em>ON</em><br />
		
		Smilies are <em>ON</em>
		
	</div>

	<div id="message-box">
		<textarea name="signature" id="signature" style="height: 9em;" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">capturing signature change protocol…</textarea>
	</div>
</fieldset>


	<h3>Options</h3>
	<fieldset>
		
			<div><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode" /> Disable BBCode</label></div>
		
			<div><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies" /> Disable smilies</label></div>
		
			<div><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url" /> Do not automatically parse URLs</label></div>
		

	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	
	<input type="reset" name="reset" value="Reset" class="button2" />&nbsp;
	<input type="submit" name="preview" value="Preview" class="button2" />&nbsp;
	<input type="submit" name="submit" value="Submit" class="button1" />
	<input type="hidden" name="creation_time" value="{{creation_time}}" />
<input type="hidden" name="form_token" value="{{form_token}}" />

</fieldset>
</form>
